* {
    box-sizing: border-box;
    margin: 0
}

h3{
    margin-left: 5px;
}

a{
    display: inline-block;
    width: 100px;
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #333dd3;
    border-radius: 5px;
    margin:5px;
}

.note{
    display: none;
}

.tag{
    display: block;
    background-color: #f2e788;
    padding: 0 5px;
    width: 60px;
    text-align: center;
    border-radius: 5px;
    margin:5px;
}